<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cmspage-heading" data-cy="CmspageCreateUpdateHeading" jhiTranslate="deadDiameterApp.cmspage.home.createOrEditLabel">
        Create or edit a Cmspage
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.alias" for="field_alias">Alias</label>
          <input type="text" class="form-control" name="alias" id="field_alias" data-cy="alias" formControlName="alias" />
          <div *ngIf="editForm.get('alias')!.invalid && (editForm.get('alias')!.dirty || editForm.get('alias')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('alias')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.content" for="field_content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.published" for="field_published">Published</label>
          <input type="checkbox" class="form-check" name="published" id="field_published" data-cy="published" formControlName="published" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.order" for="field_order">Order</label>
          <input type="number" class="form-control" name="order" id="field_order" data-cy="order" formControlName="order" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.language" for="field_language">Language</label>
          <select class="form-control" name="language" formControlName="language" id="field_language" data-cy="language">
            <option [ngValue]="null">{{ 'deadDiameterApp.Cmslanguage.null' | translate }}</option>
            <option *ngFor="let cmslanguage of cmslanguageValues" [value]="cmslanguage">
              {{ 'deadDiameterApp.Cmslanguage.' + cmslanguage | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="deadDiameterApp.cmspage.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="deadDiameterApp.cmspage.cmsroles" for="field_cmsroles">Cmsroles</label>
          <select class="form-control" id="field_cmsroles" data-cy="cmsroles" multiple name="cmsroles" formControlName="cmsroles">
            <option
              [ngValue]="getSelectedCmsroles(cmsrolesOption, editForm.get('cmsroles')!.value)"
              *ngFor="let cmsrolesOption of cmsrolesSharedCollection; trackBy: trackCmsrolesById"
            >
              {{ cmsrolesOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
